<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<body>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5
    }
</style>
<div class="container">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-users"></span> Users
                    </h4>
                    <ul class="list-group">
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>E-mail</th>
                            </tr>
                        <% for(var i = 0, len = Users.length; i < len; i++) { %>
                        <tr>
                            <td><%= Users[i].name %></td><td><%= Users[i].email %></td>
                        </tr>
                        <% } %>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-file-text"></span> Logs
                    </h4>
                    <% if(Logs.length) { %>
                    <table>
                        <tr>
                            <th>Message</th>
                            <th>Date</th>
                        </tr>
                        <% for(i = 0, len = Logs.length; i < len; i++) { %>
                        <tr>
                            <td><%= Logs[i].message %></td>
                            <td><%= moment(Logs[i].date).format('hh:mm DD/MM/YYYY') %></td>
                        </tr>
                        <% } %>
                    </table>
                    <% } else { %>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="fa fa-smile-o"></span> Nice, there are no logs!
                        </li>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="card-deck">

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-check-circle-o"></span> Results
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="fa fa-file-text-o"></span> Results stored just now <span class="tag tag-default tag-pill "><%= Results %></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-newspaper-o"></span> Send news
                    </h4>
                    <div class="card-text">
                        <form method="POST" name="formNews" id="formNews" action="/users/sendNews">
                            <div class="form-group">
                                <% if(typeof mailResult !== 'undefined') { %>
                                Result: <%= mailResult %>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="notice" name="notice"
                                       placeholder="What do you want to tell subscribed users?" required>
                            </div>
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-primary" form="formNews">
                                    <span class="fa fa-rss-square"></span> Send news
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer.ejs %>
</body>
</html>
