<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<script src="/js/add-data.min.js"></script>
<body>
<div class="container">
    <% if(err) { %>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><span class="fa fa-info-circle"></span> ERROR</strong>
        <hr>
        <%= err || null %><hr>
        Please, <a href="/add-data">try again</a> with different parameters.

    </div>
    <% } else { %>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="/images/form.png" width="100%" class="card-img-top" height="199"/>

                <div class="card-block">
                    <div class="card-text">
                        <h4 class="card-title">
                            Upload data
                        </h4>
                        <form method="POST" action="/add-data" id="form1" name="form1">
                            <div class="row">
                                <div class="col-xs-4 form-group">

                                    <label for="province">
                                        <span class="fa fa-map-o"></span> Select a district
                                    </label>
                                    <select class="form-control" name="province" id="province" required
                                            onchange="parseFields(processTextarea)">
                                        <% for(let ccaa in codigos) { %>
                                        <% for(let province in codigos[ccaa]) { %>
                                        <option value="<%- codigos[ccaa][province] %>"><%= ccaa %>
                                            - <%= province %> </option>

                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <label for="population">
                                        <span class="fa fa-users"></span> Population
                                    </label>
                                    <input class="form-control" min="1" value="15000" type="number" name="population"
                                           id="population" onchange="parseFields(processTextarea)" required/>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <label for="date">
                                        <span class="fa fa-calendar"></span> Select a date
                                    </label>
                                    <input class="form-control" type="date" name="date" id="date"
                                           value="<%= moment(new Date()).format('DD/MM/YYYY') %>"
                                           onchange="parseFields()"
                                           required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 form-group">
                                    <label for="voters">
                                        <span class="fa fa-envelope-o"></span> Voters
                                    </label>
                                    <input class="form-control" min="1" value="150" type="number" name="voters"
                                           id="voters"
                                           onchange="parseFields(processTextarea)" required/>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <label for="census">
                                        <span class="fa fa-list-alt"></span> Electoral census
                                    </label>
                                    <input class="form-control" min="0" value="200" type="number" name="census"
                                           id="census"
                                           onchange="parseFields(processTextarea)" required/>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <label for="blancos">
                                        <span class="fa fa-circle-o"></span> Blank votes
                                    </label>
                                    <input class="form-control" type="number" min="0" value="10" name="blancos"
                                           id="blancos"
                                           onchange="parseFields(processTextarea)" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 form-group">
                                    <label for="nulos">
                                        <span class="fa fa-thumbs-o-down"></span> Null votes
                                    </label>
                                    <input class="form-control" min="0" value="20" type="number" name="nulos" id="nulos"
                                           onchange="parseFields(processTextarea)" required/>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <label for="author">
                                        <span class="fa fa-user-circle-o"></span>
                                        Author: <%= (typeof user !== 'undefined') ? user.email : 'anonymous' %>
                                    </label>
                                    <input class="form-control"
                                           value="<%= (typeof user !== 'undefined') ? user.email : 'anonymous' %>"
                                           type="hidden" name="author" id="author"/>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xs-12 form-group">
                                    <label for="votes">
                                        <span class="fa fa-list"></span> Votes<br>
                                        <small>Write each party with the number of votes then linebreak.</small>
                                    </label>
                                    <textarea class="form-control" id="votes" name="votes" rows="8"
                                              onchange="parseFields(processTextarea)">
A - 60
B - 45
C - 15</textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input type="checkbox" required/>
                                        <small>I understand that clicking this button i will add some data and
                                            anybody will can access them.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group pull-right">
                            <button type="submit" class="btn pastel-btn" form="form1">
                                <span class="fa fa-cloud-upload"></span> Submit
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <% } %>
</div>
<script>
    parseFields(processTextarea);
</script>
<% include ../../partials/footer.ejs %>
</body>
</html>
