<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<body>
<div class="container">
    <% if(!data.length) { %>
    <% include ../../partials/no-data.ejs %>
    <% } else { %>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-database"></span> Stored data
                    </h4>
                    <hr>

                    <% let todayDate; for(let i = 0, len = data.length; i < len; ++i) { %>

                    <% if(typeof todayDate === 'undefined' || todayDate !== moment(data[i].election.date).format('DD/MM/YYYY')) {
                        todayDate = moment(data[i].election.date).format('DD/MM/YYYY'); %>
                    <% if(i > 0) { %>
                    </ul>
                </div>
                <br>
                    <% } %>
                <div class="dropdown">
                <button class="btn btn-stored dropdown-toggle" type="button" data-toggle="dropdown"><%= moment(data[i].election.date).format('DD/MM/YYYY') %> Elections
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <% } %>
                    <li class="list-group-item"><a href="#" id="<%= data[i]._id %>" onclick="fillContent('<%= data[i]._id %>')">
                        <%= data[i].province %> (<%= data[i].election.author %>)
                        <span class="fa fa-chevron-circle-right pull-right"></span>
                    </a></li>
                    <% } %>
                    </ul>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-check-circle-o"></span> Selected data
                    </h4>
                    <hr>
                    <div class="card-text" id="content">
                        <span class="fa fa-info-circle"></span> Click on a result in your left to see the content here!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<script src="/js/moment.min.js"></script>
<script src="/js/stored-data.js"></script>
<% include ../../partials/footer.ejs %>
</body>
</html>
