<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<script src="https://code.highcharts.com/highmaps.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="/js/es-all.js"></script>
<body>
<div class="container">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-info-circle"></span> Differences Between Parties<br>
                        <small>(From simulation #1 to simulation #2)</small>
                    </h4>

                    <div class="card-text">
                        <ul>
                            <% if(differences.results.length === 0) {%>
                            <li>Both results are the same.</li>
                            <% } %>
                            <% for(let i = 0, len = differences.results.length; i < len; i++) { %>
                            <li>
                                <% if(differences.results[i].kind === 'E') { %>
                                <b><%= differences.results[i].path %></b> has <b>changed</b> from <b><%= differences.results[i].lhs %></b>
                                mandates to <b><%= differences.results[i].rhs %></b> mandates.
                                <% } %>
                                <% if(differences.results[i].kind === 'D') { %>
                                <b><%= differences.results[i].path %></b> has <b>disappeared</b>.
                                <% } %>
                                <% if(differences.results[i].kind === 'N') { %>
                                <b><%= differences.results[i].path %></b> has been <b>added</b> with
                                <b><%= differences.results[i].rhs %></b> mandates.
                                <% } %>
                                <% if(differences.results[i].kind === 'A') { %>
                                Array Change.
                                <% } %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-info-circle"></span> Differences Between Parameters<br>
                        <small>(From simulation #1 to simulation #2)</small>
                    </h4>
                    <div class="card-text">
                        <ul>
                            <% if(typeof differences.parameters !== 'undefined'){ for(let i = 0, len = differences.parameters.length; i < len; i++) { %>
                            <li>
                                <% if(differences.parameters[i].kind === 'E') { %>
                                The <b><%= differences.parameters[i].path %></b> value has <b>changed</b> from
                                <b><%= parseFloat(differences.parameters[i].lhs) %>%</b> to <b><%= parseFloat(differences.parameters[i].rhs) %>%</b>.
                                <% } %>

                                <% if(differences.parameters[i].kind === 'D') { %>
                                The <b><%= differences.parameters[i].path %></b> value has been <b>disabled</b>.
                                <% } %>

                                <% if(differences.parameters[i].kind === 'N') { %>
                                The <b><%= differences.parameters[i].path %></b> value has been <b>enabled</b>.
                                <% } %>

                                <% if(differences.parameters[i].kind === 'A') { %>
                                Array Change.
                                <% } %>
                            </li>
                            <% } } else { %>
                            <li> The parameters are the same.</li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"><span class="fa fa-pie-chart"></span> Country #1</h4>
                    <table id="tabla1" class="display card-text" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Party</th>
                            <th>Mandates</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let party in options1.global.agrupado) { %>
                        <tr>
                            <td>
                                <img src="<%= Object.prototype.hasOwnProperty.call(icons, party) ? icons[party] : 'images/ico/no-ico.png' %>"
                                     width="18" height="18"/> <%= party %></td>
                            <td><%= options1.global.agrupado[party] %></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"><span class="fa fa-pie-chart"></span> Country #2</h4>
                    <table id="tabla2" class="display card-text" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Party</th>
                            <th>Mandates</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let party in options2.global.agrupado) { %>
                        <tr>
                            <td>
                                <img src="<%= Object.prototype.hasOwnProperty.call(icons, party) ? icons[party] : 'images/ico/no-ico.png' %>"
                                     width="18" height="18"/> <%= party %></td>
                            <td><%= options2.global.agrupado[party] %></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    let colors = <%- JSON.stringify(colors) %>;

    $('#tabla1').DataTable({
        "order": [[1, "desc"]],
        "paging": false,
        "search": false
    });
    $('#tabla2').DataTable({
        "order": [[1, "desc"]],
        "paging": false,
        "search": false
    });


</script>

<% include ../../partials/footer.ejs %>
</body>
</html>
