<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<body>

<div class="container">
    <% if(!results.length || !elections.length)  { %>
    <% include ../../partials/no-data.ejs %>
    <% } else { %>
    <div class="card-deck-wrapper">
        <form class="card-text " method="POST" id="country-form" action="/compare-country-form">
        <div class="card-deck">
            <div class="card myCard">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-pie-chart"></span> Compare two configuration
                    </h4>
                    <div class="form-group col-xs-6">
                        <label for="resultSelected">
                            <span class="fa fa-database"></span> Select a stored election
                        </label>
                        <select class="form-control" name="resultSelected" id="resultSelected">
                            <% for(i = 0, len = elections.length; i < len; i++){ %>
                            <option value="<%= elections[i].fecha %>,<%= elections[i].autor %>">
                                <%= moment(elections[i].fecha).format('DD/MM/YYYY') %> |
                                <%= elections[i].autor.toUpperCase() %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <p>
                            <span class="fa fa-info"></span> Please select an election, and click on "Let's do it",
                            to calculate both configurations and then you will see results.
                        </p>
                    </div>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn pastel-btn pull-right" form="country-form">
                        <span class="fa fa-check-circle-o"></span> Let's do it!
                    </button>
                </div>
            </div>

        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-pie-chart"></span> Configuration #1
                    </h4>
                    <div class="card-text ">
                        <div class="row">

                            <div class="form-group col-xs-6">
                                <label for="percentage">
                                    <span class="fa fa-percent"></span> Select minimum percentage<br>
                                </label>
                                <select class="form-control"  name="percentage1"
                                        id="percentage1">
                                    <% for(var i = 0.00; i <= 100.00; i += 0.50){ %>
                                    <option value="<%= i %>"><%= i %>%</option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="percentage">
                                            <span class="fa fa-plus-square-o"></span> Aggregations
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <input type='checkbox'  name="aggregateCommunities1"
                                               id="aggregateCommunities1" class="custom-checkbox"/>
                                        Aggregate communities

                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type='checkbox' name="wholeCountry1"
                                               id="wholeCountry1" class="custom-checkbox"/> Aggregate whole country

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type='button' class="btn pastel-btn" onclick="switchComunidades1();">
                                    <span class="fa fa-eye"></span> Show/Hide districts
                                </button>
                            </div>


                        </div>
                        <div id="comunidades1" style="display: none;">
                            <h4 class="row col-xs-12">Andalucía</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="almeria1">Almería</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="almeria1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="cadiz1">Cádiz</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30" name="cadiz1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="cordoba1">Córdoba</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="cordoba1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="granada1">Granada</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="granada1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="huelva1">Huelva</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30" name="huelva1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="jaen1">Jaén</label>
                                    <input class="form-control " type="number" value="6" min="2" max="30" name="jaen1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="malaga1">Málaga</label>
                                    <input class="form-control " type="number" value="10" min="2" max="30"
                                           name="malaga1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="sevilla1">Sevilla</label>
                                    <input class="form-control " type="number" value="13" min="2" max="30"
                                           name="sevilla1">
                                </div>
                            </div>

                            <h4>Aragón</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Huesca</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="huesca1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Teruel</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="teruel1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Zaragoza</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="zaragoza1">
                                </div>
                            </div>

                            <h4>Principado de Asturias</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Asturias</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30"
                                           name="asturias1">
                                </div>
                            </div>

                            <h4>Castilla La Mancha</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Albacete</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="albacete1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Ciudad Real</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="ciudadreal1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Cuenca</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="cuenca1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Guadalajara</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30"
                                           name="guadalajara1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Toledo</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30" name="toledo1">
                                </div>
                            </div>

                            <h4>Iles-Ballears</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Illes-Balears</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="illesbalears1">
                                </div>
                            </div>

                            <h4>Castilla León</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Ávila</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="avila1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Burgos</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30" name="burgos1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">León</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30" name="leon1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Palencia</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30"
                                           name="palencia1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Salamanca</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="salamanca1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Segovia</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30"
                                           name="segovia1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Soria</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="soria1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Valladolid</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="valladolid1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Zamora</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="zamora1">
                                </div>
                            </div>

                            <h4>Canarias</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Las Palmas</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="laspalmas1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Canarias</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="santacruzdetenerife1">
                                </div>
                            </div>

                            <h4>Cantabria</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Cantabria</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="cantabria1">
                                </div>
                            </div>

                            <h4>Catalunya</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Barcelona</label>
                                    <input class="form-control " type="number" value="31" min="2" max="50"
                                           name="barcelona1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Girona</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30" name="girona1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Lleida</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30" name="lleida1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Tarragona</label>
                                    <input class="form-control " type="number" value="6" min="2" max="30"
                                           name="tarragona1">
                                </div>
                            </div>

                            <h4>Extremadura</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Cáceres</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="caceres1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="badajoz">Badajoz</label>
                                    <input class="form-control " type="number" value="6" min="2" max="30"
                                           name="badajoz1">
                                </div>
                            </div>

                            <h4>Galicia</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">A Corunia</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30"
                                           name="acoruña1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Lugo</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30" name="lugo1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Ourense</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="ourense1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Pontevedra</label>
                                    <input class="form-control " type="number" value="8" min="2" max="30"
                                           name="pontevedra1">
                                </div>
                            </div>

                            <h4>Madrid</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Madrid</label>
                                    <input class="form-control " type="number" value="34" min="2" max="50"
                                           name="madrid1">
                                </div>
                            </div>

                            <h4>Navarra</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Navarra</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="navarra1">
                                </div>
                            </div>

                            <h4>País Vasco</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Álava</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30" name="alava1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Guipuzkoa</label>
                                    <input class="form-control " type="number" value="6" min="2" max="30"
                                           name="gipuzkoa1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Bizkaia</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30"
                                           name="bizkaia1">
                                </div>
                            </div>

                            <h4>Murcia</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Murcia</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30" name="murcia1">
                                </div>
                            </div>
                            <h4>La Rioja</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">La Rioja</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="larioja1">
                                </div>
                            </div>

                            <h4>Comunidad Valenciana</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Alicante</label>
                                    <input class="form-control " type="number" value="11" min="2" max="30"
                                           name="alicante1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Castellón</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="castellon1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Valencia</label>
                                    <input class="form-control " type="number" value="16" min="2" max="30"
                                           name="valencia1">
                                </div>
                            </div>

                            <h4>Ceuta & Melilla</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Ceuta</label>
                                    <input class="form-control " type="number" value="1" min="1" max="30" name="ceuta1">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Melilla</label>
                                    <input class="form-control " type="number" value="1" min="1" max="30"
                                           name="melilla1">
                                </div>
                            </div>
                        </div>
                        <div class="row col-xs-12 text-danger">
                            <span class="fa fa-info-circle"></span> If your election doesn't appear, you should review
                            if
                            all districts matched.
                        </div>
                    </div>
                    <script>
                        let comunidadesHide1 = false;
                        function switchComunidades1() {
                            if (comunidadesHide1) {
                                $('#comunidades1').hide();
                                comunidadesHide1 = false;
                            } else {
                                $('#comunidades1').show();
                                comunidadesHide1 = true;
                            }

                        }
                    </script>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-pie-chart"></span> Configuration #2
                    </h4>

                        <div class="card-text row">

                            <div class="form-group col-xs-6">
                                <label for="percentage">
                                    <span class="fa fa-percent"></span> Select minimum percentage<br>
                                </label>
                                <select class="form-control"  name="percentage"
                                        id="percentage">
                                    <% for(var i = 0.00; i <= 100.00; i += 0.50){ %>
                                    <option value="<%= i %>"><%= i %>%</option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="percentage">
                                            <span class="fa fa-plus-square-o"></span> Aggregations
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <input type='checkbox' name="aggregateCommunities"
                                               id="aggregateCommunities" class="custom-checkbox"/>
                                        Aggregate communities

                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type='checkbox'  name="wholeCountry"
                                               id="wholeCountry" class="custom-checkbox"/> Aggregate whole country

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type='button' class="btn pastel-btn" onclick="switchComunidades2();">
                                    <span class="fa fa-eye"></span> Show/Hide districts
                                </button>
                            </div>


                        </div>
                        <div id="comunidades2" style="display: none;">
                            <h4 class="row col-xs-12">Andalucía</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="almeria">Almería</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="almeria">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="cadiz">Cádiz</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30" name="cadiz">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="cordoba">Córdoba</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="cordoba">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="granada">Granada</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="granada">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="huelva">Huelva</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30" name="huelva">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="jaen">Jaén</label>
                                    <input class="form-control " type="number" value="6" min="2" max="30" name="jaen">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="malaga">Málaga</label>
                                    <input class="form-control " type="number" value="10" min="2" max="30"
                                           name="malaga">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="sevilla">Sevilla</label>
                                    <input class="form-control " type="number" value="13" min="2" max="30"
                                           name="sevilla">
                                </div>
                            </div>

                            <h4>Aragón</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Huesca</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="huesca">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Teruel</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="teruel">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Zaragoza</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="zaragoza">
                                </div>
                            </div>

                            <h4>Principado de Asturias</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Asturias</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30"
                                           name="asturias">
                                </div>
                            </div>

                            <h4>Castilla La Mancha</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Albacete</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="albacete">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Ciudad Real</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="ciudadreal">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Cuenca</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="cuenca">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Guadalajara</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30"
                                           name="guadalajara">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Toledo</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30" name="toledo">
                                </div>
                            </div>

                            <h4>Iles-Ballears</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Illes-Balears</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="illesbalears">
                                </div>
                            </div>

                            <h4>Castilla León</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Ávila</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="avila">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Burgos</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30" name="burgos">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">León</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30" name="leon">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Palencia</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30"
                                           name="palencia">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Salamanca</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="salamanca">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Segovia</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30"
                                           name="segovia">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Soria</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="soria">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Valladolid</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="valladolid">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Zamora</label>
                                    <input class="form-control " type="number" value="3" min="2" max="30" name="zamora">
                                </div>
                            </div>

                            <h4>Canarias</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Las Palmas</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="laspalmas">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Canarias</label>
                                    <input class="form-control " type="number" value="7" min="2" max="30"
                                           name="santacruzdetenerife">
                                </div>
                            </div>

                            <h4>Cantabria</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Cantabria</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="cantabria">
                                </div>
                            </div>

                            <h4>Catalunya</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Barcelona</label>
                                    <input class="form-control " type="number" value="31" min="2" max="50"
                                           name="barcelona">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Girona</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30" name="girona">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Lleida</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30" name="lleida">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Tarragona</label>
                                    <input class="form-control " type="number" value="6" min="2" max="30"
                                           name="tarragona">
                                </div>
                            </div>

                            <h4>Extremadura</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Cáceres</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="caceres">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="badajoz">Badajoz</label>
                                    <input class="form-control " type="number" value="6" min="2" max="30"
                                           name="badajoz">
                                </div>
                            </div>

                            <h4>Galicia</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">A Corunia</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30"
                                           name="acoruña">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Lugo</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30" name="lugo">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Ourense</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="ourense">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Pontevedra</label>
                                    <input class="form-control " type="number" value="8" min="2" max="30"
                                           name="pontevedra">
                                </div>
                            </div>

                            <h4>Madrid</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Madrid</label>
                                    <input class="form-control " type="number" value="34" min="2" max="50"
                                           name="madrid">
                                </div>
                            </div>

                            <h4>Navarra</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Navarra</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="navarra">
                                </div>
                            </div>

                            <h4>País Vasco</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Álava</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30" name="alava">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Guipuzkoa</label>
                                    <input class="form-control " type="number" value="6" min="2" max="30"
                                           name="gipuzkoa">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Bizkaia</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30"
                                           name="bizkaia">
                                </div>
                            </div>

                            <h4>Murcia</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Murcia</label>
                                    <input class="form-control " type="number" value="9" min="2" max="30" name="murcia">
                                </div>
                            </div>
                            <h4>La Rioja</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">La Rioja</label>
                                    <input class="form-control " type="number" value="4" min="2" max="30"
                                           name="larioja">
                                </div>
                            </div>

                            <h4>Comunidad Valenciana</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Alicante</label>
                                    <input class="form-control " type="number" value="11" min="2" max="30"
                                           name="alicante">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Castellón</label>
                                    <input class="form-control " type="number" value="5" min="2" max="30"
                                           name="castellon">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Valencia</label>
                                    <input class="form-control " type="number" value="16" min="2" max="30"
                                           name="valencia">
                                </div>
                            </div>

                            <h4>Ceuta & Melilla</h4>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="">Ceuta</label>
                                    <input class="form-control " type="number" value="1" min="1" max="30" name="ceuta">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="">Melilla</label>
                                    <input class="form-control " type="number" value="1" min="1" max="30"
                                           name="melilla">
                                </div>
                            </div>
                        </div>
                        <div class="row col-xs-12 text-danger">
                            <span class="fa fa-info-circle"></span> If your election doesn't appear, you should review
                            if
                            all districts matched.
                        </div>
                    </div>
                    <script>
                        let comunidadesHide2 = false;
                        function switchComunidades2() {
                            if (comunidadesHide2) {
                                $('#comunidades2').hide();
                                comunidadesHide2 = false;
                            } else {
                                $('#comunidades2').show();
                                comunidadesHide2 = true;
                            }

                        }
                    </script>


                </div>
            </div>
        </form>
    </div>
    <% } %>
</div>
<% include ../../partials/footer.ejs %>
</body>
</html>



