<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<script src="http://code.highcharts.com/maps/5.0.6/highmaps.js"></script>
<script src="http://code.highcharts.com/maps/5.0.6/modules/exporting.js"></script>
<script src="/js/es-all.js"></script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <table id="tabla" class="display card-text" cellspacing="0" width="100%">
                        <% if(typeof global.isAggregateCommunities === 'undefined') { %>
                        <thead>
                        <tr>
                            <th>Party</th>
                            <th>Mandates</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% let parties = Object.keys(global.agrupado); %>
                        <% for(let party of parties) { %>
                        <tr>
                            <td>
                                <img src="<%= Object.prototype.hasOwnProperty.call(icons, party) ? icons[party] : 'images/ico/no-ico.png' %>"
                                     width="18" height="18"/> <%= party %>
                            </td>
                            <td>
                                <%= global.agrupado[party] %>
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                        <% } else { %>
                        <thead>
                        <tr>
                            <th>Community</th>
                            <th>Party</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let community in global.agrupado) { %>

                        <tr>
                            <td>
                                <%= community %>
                            </td>
                            <td>
                                <% for(let party in global.agrupado[community].resultadoFinal.parties){ %>
                                <img src="<%= Object.prototype.hasOwnProperty.call(icons, party) ? icons[party] : 'images/ico/no-ico.png' %>"
                                     width="18" height="18"/> <%= party %>: <%= global.agrupado[community].resultadoFinal.parties[party] %><hr>
                                <% } %>
                            </td>
                        </tr>

                        <% } %>
                        </tbody>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <% if(!wholeCountry) { %>
            <div class="card myCard">
                <div id="container" class="card-img-top"></div>
                <% if(user && global.isAggregateCommunities === 'undefined' ) { %>
                <div class="card-footer text-xs-right">
                    <span class="fa fa-database"></span> This result is now stored in your own results!<br>
                    <small><a href="/users/profile">See my own results</a></small>
                </div>
                <% } %>
            </div>
            <% } else { %>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">No map</h4>
                    <p class="card-text">
                        Sorry, but when whole country is selected there is no map because it is unuseful.
                    </p>
                </div>
            </div>
            <% } %>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"><span class="fa fa-info-circle"></span> Useful information</h4>
                    <p>
                        The left above table shows you the mandates that each party has won.<br>
                        In the above map you can see(if it's not a whole country simulation) the mandates distribution per each district.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var global = <%- JSON.stringify(global) %>;
    var colors = <%- JSON.stringify(colors) %>;

    <% if(typeof global.isAggregateCommunities === 'undefined') { %>
    $('#tabla').DataTable({
        "order": [[1, "desc"]],
        "paging": false,
        "search": false
    });
    <% } else { %>
    $('#tabla').DataTable({
        "order": [[0, "asc"]],
        "paging": false,
        "search": false
    });
    <% } %>

</script>

<% if(typeof global.isAggregateCommunities === 'undefined') { %>
<script type="text/javascript" src="/js/country-chart.js"></script>
<% } else { %>
<script type="text/javascript" src="/js/country-communities-chart.js"></script>
<% } %>
<% include ../../partials/footer.ejs %>
</body>
</html>
