<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<script src="http://code.highcharts.com/5.0.6/highcharts.js"></script>
<script src="http://code.highcharts.com/5.0.6/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="http://code.highcharts.com/5.0.6/highcharts-3d.js"></script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">District result</h4>
                    <table id="tabla" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Party</th>
                            <th>Mandates</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% const F = new Intl.NumberFormat('es-ES'); %>
                        <% let keys = Object.keys(result.parties); %>
                        <% for(let key of keys) { %>
                        <% if(parseInt(result.parties[key]) > 0) { %>
                        <tr>
                            <td>
                                <img src="<%= Object.prototype.hasOwnProperty.call(icons, key) ? icons[key] : 'images/no-ico.png' %>"
                                     width="18" height="18"/> <%= key %></td>
                            <td><%= result.parties[key] %></td>
                        </tr>
                        <% } %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Election </h4>
                    <table id="tabla2" cellspacing="0" width="auto">
                        <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Number of votes</td>
                            <td><%= F.format(result.numberOfVotes) %></td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td><%= moment(date).format('DD/MM/YYYY') %></td>
                        </tr>
                        <tr>
                            <td>District</td>
                            <td><%= province %></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card myCard">
                <div class="card-img-top" id="container">
                </div>
                <div class="card-footer text-xs-right">
                    <span class="fa fa-database"></span> This result is now stored in your own results!<br>
                    <small><a href="/users/profile">See my own results</a></small>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Calculation process </h4>
                    <table id="tabla3" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Iteration</th>

                            <% for(let col of result.table[0]){ %>
                            <% for(let key in col){ %>
                            <th><%= key %></th>
                            <% } %>
                            <% } %>

                        </tr>
                        </thead>
                        <tbody>
                        <% iter = 1 %>
                        <% for(let fila of result.table) { %>
                        <tr>
                            <td><%= iter %></td>
                            <% for(let col of fila){ %>
                            <% for(let key in col){ %>
                            <td>
                                <%= col[key] %>
                            </td>
                            <% } %>
                            <% } %>
                        </tr>
                        <% iter++; %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#tabla').DataTable({
        "order": [[1, "desc"]],
        "paging": false,
        "search": false
    });
    $('#tabla2').DataTable({
        "sort": false,
        "paging": false,
        "search": false
    });
    $('#tabla3').DataTable({
        "sort": false,
        "paging": false,
        "search": false
    });

</script>
<script type="text/javascript">
    jQuery.noConflict();
    let options = <%- JSON.stringify(options) %>;
    console.log(options);
    (function ($) {
        $(function () {
            $('#container').highcharts(options);
        });
    })(jQuery);

</script>
<% include ../../partials/footer.ejs %>
</body>
</html>
