<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<% include ../partials/menu.ejs %>
<body >
<div class="container">
    <% if(!data.length) { %>
    <% include ../partials/no-data.ejs %>
    <% } else { %>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-database"></span> Stored data
                    </h4>
                    <hr>
                    <% for(let i = 0, len = data.length; i < len; ++i) { %>
                    <button class="btn btn-block btn-stored" id="<%= data[i]._id %>"
                            onclick="fillContent('<%= data[i]._id %>')">
                        <%= moment(data[i].eleccion.fecha).format('DD/MM/YYYY') %> |
                        <%= data[i].provincia %> | <%= data[i].eleccion.autor.toUpperCase() %>
                        <span class="fa fa-chevron-circle-right pull-right" ></span>
                    </button>
                    <% } %>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-check-circle-o"></span> Selected data
                    </h4>
                    <hr>
                    <div class="card-text" id="content">
                            <span class="fa fa-info-circle"></span> Click on a result in your left to see the content here!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<script src="/js/moment.min.js"></script>
<script src="/js/stored-data.js"></script>
<% include ../partials/footer.ejs %>
</body>
</html>
