<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>
<body background="images/construction.jpg">

<div class="container" style="margin-top: 20px;">

    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <b>Single district chart</b>
                    </h4>

                    <form class="card-text" method="POST" id="form1" action="/graphic-form">
                        <div class="form-group">

                            <label for="resultSelected">
                                <span class="fa fa-list"></span> Select a stored district
                            </label>
                            <select class="form-control" name="resultSelected" id="resultSelected">
                                <% for(let i = 0, len = results.length; i < len; i++){ %>
                                <option value="<%= results[i]._id %>">
                                    Elección del <%= results[i].eleccion.fecha.slice(4, 6) %>
                                    /<%= results[i].eleccion.fecha.slice(0, 4) %>,
                                    para la ciudad de <%= results[i].provincia %>,
                                    creada por: <%= results[i].eleccion.autor %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mode">
                                <span class="fa fa-signal"></span> Chart kind
                            </label>
                            <select class="form-control" name="mode" id="mode">
                                <option value="bar">Bar chart</option>
                                <option value="pie">Pie chart</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mandates">
                                <span class="fa fa-user"></span> Number of mandates
                            </label>
                            <select class="form-control" name="mandates" id="mandates">
                                <% for(i = 1; i <= 1000; i++){ %>
                                <option value="<%= i %>"><%= i %></option>
                                <% } %>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="percentage">
                                <span class="fa fa-percent"></span> Select minimum percentage
                            </label>
                            <select class="form-control" name="percentage" id="percentage">
                                <% for(var i = 0.00; i <= 100.00; i += 0.50){ %>
                                <option value="<%= i %>"><%= i %>%</option>
                                <% } %>
                            </select>

                        </div>
                    </form>

                </div>
                <div class="card-footer text-xs-right">
                    <button type="submit" class="btn btn-primary" form="form1">
                        <span class="fa fa-send-o"></span> Let's do it!
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <b>Country chart</b>
                    </h4>
                    <form class="card-text" method="POST" action="/graphic-form">
                        <div class="form-group">

                            <label for="resultSelected">
                                <span class="fa fa-list"></span> Select a stored district
                            </label>
                            <select class="form-control" name="resultSelected" id="resultSelected">
                                <% for(i = 0, len = ellections.length; i < len; i++){ %>
                                <option value="<%= ellections[i].fecha %>">
                                    Elección del <%= ellections[i].fecha.slice(4, 6) %>
                                    /<%= ellections[i].fecha.slice(0, 4) %>,
                                    creada por: <%= ellections[i].autor %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="percentage">
                                <span class="fa fa-percent"></span> Select minimum percentage
                            </label>
                            <select class="form-control" name="percentage" id="percentage">
                                <% for(var i = 0.00; i <= 100.00; i += 0.50){ %>
                                <option value="<%= i %>"><%= i %>%</option>
                                <% } %>
                            </select>

                        </div>

                    </form>
                </div>
                <div class="card-footer text-xs-right">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-send-o"></span> Let's do it!
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <b>lalalalalt</b>
                    </h4>
                    <p class="card-text">
                        lalalal
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/es/es-all.js"></script>-->
<% include ../partials/footer %>
</body>
</html>



