<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>
<body background="images/construction.jpg">

<div class="container" style="margin-top: 20px;">

    <div class="row">

        <div class="col-md-6">
            <div class="list-group">
                <a class="list-group-item active">
                    <b>Configure your chart</b>
                </a>
                <a class="list-group-item list-group-item-action">
                    <form class="form" role="form" method="POST" action="/graphic-form">
                        <div class="form-group">

                            <label for="resultSelected">
                                <span class="glyphicon glyphicon-list"></span> Select a result to create a graph
                            </label>
                            <select class="form-control" name="resultSelected" id="resultSelected">
                                <% for(var i = 0, len = results.length; i < len; i++){ %>
                                <option value="<%= results[i]._id %>">
                                    Elección del <%= results[i].eleccion.fecha.slice(4, 6) %>
                                    /<%= results[i].eleccion.fecha.slice(0, 4) %>,
                                     para la ciudad de <%= results[i].provincia %>,
                                    creada por: <%= results[i].eleccion.autor %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mode">
                                <span class="glyphicon glyphicon-signal"></span> Select chart mode
                            </label>
                            <select class="form-control" name="mode" id="mode">
                                <option value="bar">Bar chart</option>
                                <option value="pie">Pie chart</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mandates">
                                <span class="glyphicon glyphicon-user"></span> Select number of mandates
                            </label>
                            <select class="form-control" name="mandates" id="mandates">
                                <% for(var i = 1; i <= 1000; i++){ %>
                                <option value="<%= i %>"><%= i %></option>
                                <% } %>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="percentage">
                                <span class="glyphicon glyphicon-screenshot"></span> Select minimum percentage
                            </label>
                            <select class="form-control" name="percentage" id="percentage">
                                <% for(var i = 0; i <= 100; i++){ %>
                                <option value="<%= i %>"><%= i %>%</option>
                                <% } %>
                            </select>

                        </div>

                        <button type="submit" class="btn btn-block btn-info">
                            <span class="glyphicon glyphicon-send"></span> Let's do it!
                        </button>
                    </form>
                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>
