<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>
<body >
<div class="container" style="margin-top: 20px;">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">

                <div class="card-block">
                    <h4 class="card-title">
                        Stored data
                    </h4>
                    <hr>
                    <% for(let i = 0, len = data.length; i < len; ++i) { %>

                    <button class="btn btn-block btn-secondary" id="<%= data[i]._id %>"
                            onclick="fillContent('<%= data[i]._id %>')">
                        <%= data[i].eleccion.fecha.slice(4, 6) %>/<%= data[i].eleccion.fecha.slice(0, 4) %>,
                        <%= data[i].provincia %>, by <%= data[i].eleccion.autor %>
                        <span class="fa fa-chevron-circle-right" style="float:right;"></span>
                    </button>

                    <% } %>
                </div>
            </div>
            <div class="card">

                <div class="card-block">
                    <h4 class="card-title">
                        Selected data
                    </h4>
                    <hr>
                    <div class="card-text" id="content">
                            <span class="fa fa-info-circle"></span> Click on a result in your left to see the content here!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function fillContent(id) {
        /* comunidad: { type: String, required: true },
         cod_provincia: { type: Number, required: true},
         provincia: { type: String, required: true },
         poblacion: { type: Number, required: true },
         num_mesas: { type: Number, required: true },
         total_censo_electoral: { type: Number, required: true },
         total_votantes: { type: Number, required: true },
         votos_validos: { type: Number, required: true },
         votos_candidaturas: { type: Number, required: true },
         votos_blanco: { type: Number, required: true },
         votos_nulos: { type: Number, required: true },
         eleccion: { type: Object, required: true},
         partidos: { type: Object, required: true }
         */
        var content = '<ul>';
        $.get('/resultados/' + id, function (data, status) {
            content += '<li><span class="fa fa-user"></span> <b>author:</b> ' + data.result.eleccion.autor + '</li>';
            content += '<li><span class="fa fa-calendar"></span> <b>date:</b> ' + data.result.eleccion.fecha + '</li>';
            content += '<li><span class="fa fa-map-o"></span> <b>comunity:</b> ' + data.result.comunidad + '</li>';
            content += '<li><span class="fa fa-map-marker"></span> <b>district:</b> ' + data.result.provincia + '(' + data.result.cod_provincia + ')</li>';
            content += '<li><span class="fa fa-group"></span> <b>total population:</b> ' + data.result.poblacion + '</li>';
            content += '<li><span class="fa fa-group"></span> <b>number of boards:</b> ' + data.result.num_mesas + '</li>';
            content += '<li><span class="fa fa-group"></span> <b>total ellectoral census:</b> ' + data.result.total_censo_electoral + '</li>';
            content += '<li><span class="fa fa-group"></span> <b>total voters:</b> ' + data.result.total_votantes + '</li>';
            content += '<li><span class="fa fa-envelope-o"></span> <b>valid votes:</b> ' + data.result.votos_validos + '</li>';
            content += '<li><span class="fa fa-user-o"></span> <b>total parties votes:</b> ' + data.result.votos_candidaturas + '</li>';
            content += '<li><span class="fa fa-sticky-note-o"></span> <b>blank votes:</b> ' + data.result.votos_blanco + '</li>';
            content += '<li><span class="fa fa-times-circle-o"></span> <b>null votes:</b> ' + data.result.votos_nulos + '</li>';
            content += '</ul>'
            content += '<span class="fa fa-envelope-open-o"></span> <b>votes:</b><hr>';
            content += '<pre>' + JSON.stringify(data.result.partidos, undefined, 2) + '</pre>';

            $('#content').empty().append(content + '');
            $("html, body").animate({scrollTop: 0}, "slow");
        });

    }
</script>
<% include ../partials/footer %>
</body>
</html>
